<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-curso-heading" data-cy="CursoCreateUpdateHeading" jhiTranslate="alunowebApp.curso.home.createOrEditLabel">
        Create or edit a Curso
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="alunowebApp.curso.nomeCurso" for="field_nomeCurso">Nome Curso</label>
          <input type="text" class="form-control" name="nomeCurso" id="field_nomeCurso" data-cy="nomeCurso" formControlName="nomeCurso" />
          <div *ngIf="editForm.get('nomeCurso')!.invalid && (editForm.get('nomeCurso')!.dirty || editForm.get('nomeCurso')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomeCurso')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="alunowebApp.curso.descricaoCurso" for="field_descricaoCurso"
            >Descricao Curso</label
          >
          <textarea
            class="form-control"
            name="descricaoCurso"
            id="field_descricaoCurso"
            data-cy="descricaoCurso"
            formControlName="descricaoCurso"
          ></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="alunowebApp.curso.dataCriacao" for="field_dataCriacao">Data Criacao</label>
          <div class="input-group">
            <input
              id="field_dataCriacao"
              data-cy="dataCriacao"
              type="text"
              class="form-control"
              name="dataCriacao"
              ngbDatepicker
              #dataCriacaoDp="ngbDatepicker"
              formControlName="dataCriacao"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dataCriacaoDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
