<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="aluno">
      <h2 data-cy="alunoDetailsHeading"><span jhiTranslate="alunowebApp.aluno.detail.title">Aluno</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ aluno.id }}</span>
        </dd>
        <dt><span jhiTranslate="alunowebApp.aluno.nome">Nome</span></dt>
        <dd>
          <span>{{ aluno.nome }}</span>
        </dd>
        <dt><span jhiTranslate="alunowebApp.aluno.email">Email</span></dt>
        <dd>
          <span>{{ aluno.email }}</span>
        </dd>
        <dt><span jhiTranslate="alunowebApp.aluno.foto">Foto</span></dt>
        <dd>
          <div *ngIf="aluno.foto">
            <a (click)="openFile(aluno.foto, aluno.fotoContentType)">
              <img [src]="'data:' + aluno.fotoContentType + ';base64,' + aluno.foto" style="max-width: 100%" alt="aluno image" />
            </a>
            {{ aluno.fotoContentType }}, {{ byteSize(aluno.foto) }}
          </div>
        </dd>
        <dt><span jhiTranslate="alunowebApp.aluno.dataNascimento">Data Nascimento</span></dt>
        <dd>
          <span>{{ aluno.dataNascimento | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="alunowebApp.aluno.telefone">Telefone</span></dt>
        <dd>
          <span>{{ aluno.telefone }}</span>
        </dd>
        <dt><span jhiTranslate="alunowebApp.aluno.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'alunowebApp.StatusMatricula.' + aluno.status }}">{{ aluno.status }}</span>
        </dd>
        <dt><span jhiTranslate="alunowebApp.aluno.curso">Curso</span></dt>
        <dd>
          <span *ngFor="let curso of aluno.cursos; let last = last">
            <a [routerLink]="['/curso', curso?.id, 'view']">{{ curso.nomeCurso }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="alunowebApp.aluno.turma">Turma</span></dt>
        <dd>
          <span *ngFor="let turma of aluno.turmas; let last = last">
            <a [routerLink]="['/turma', turma?.id, 'view']">{{ turma.nomeTurma }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/aluno', aluno.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
