<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="curso">
      <h2 data-cy="cursoDetailsHeading"><span jhiTranslate="alunowebApp.curso.detail.title">Curso</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ curso.id }}</span>
        </dd>
        <dt><span jhiTranslate="alunowebApp.curso.nomeCurso">Nome Curso</span></dt>
        <dd>
          <span>{{ curso.nomeCurso }}</span>
        </dd>
        <dt><span jhiTranslate="alunowebApp.curso.descricaoCurso">Descricao Curso</span></dt>
        <dd>
          <span>{{ curso.descricaoCurso }}</span>
        </dd>
        <dt><span jhiTranslate="alunowebApp.curso.dataCriacao">Data Criacao</span></dt>
        <dd>
          <span>{{ curso.dataCriacao | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/curso', curso.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
