<div>
  <h2 id="page-heading" data-cy="TurmaHeading">
    <span jhiTranslate="alunowebApp.turma.home.title">Turmas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="alunowebApp.turma.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-turma"
        [routerLink]="['/turma/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="alunowebApp.turma.home.createLabel"> Create a new Turma </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="turmas?.length === 0">
    <span jhiTranslate="alunowebApp.turma.home.notFound">No turmas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="turmas && turmas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomeTurma">
            <span jhiTranslate="alunowebApp.turma.nomeTurma">Nome Turma</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dataCriaca">
            <span jhiTranslate="alunowebApp.turma.dataCriaca">Data Criaca</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="observacoes">
            <span jhiTranslate="alunowebApp.turma.observacoes">Observacoes</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="curso.nomeCurso">
            <span jhiTranslate="alunowebApp.turma.curso">Curso</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turma of turmas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/turma', turma.id, 'view']">{{ turma.id }}</a>
          </td>
          <td>{{ turma.nomeTurma }}</td>
          <td>{{ turma.dataCriaca | formatMediumDate }}</td>
          <td>{{ turma.observacoes }}</td>
          <td>
            <div *ngIf="turma.curso">
              <a [routerLink]="['/curso', turma.curso?.id, 'view']">{{ turma.curso?.nomeCurso }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/turma', turma.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/turma', turma.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(turma)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="turmas && turmas.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
