<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-turma-heading" data-cy="TurmaCreateUpdateHeading" jhiTranslate="alunowebApp.turma.home.createOrEditLabel">
        Create or edit a Turma
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="alunowebApp.turma.nomeTurma" for="field_nomeTurma">Nome Turma</label>
          <input type="text" class="form-control" name="nomeTurma" id="field_nomeTurma" data-cy="nomeTurma" formControlName="nomeTurma" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="alunowebApp.turma.dataCriaca" for="field_dataCriaca">Data Criaca</label>
          <div class="input-group">
            <input
              id="field_dataCriaca"
              data-cy="dataCriaca"
              type="text"
              class="form-control"
              name="dataCriaca"
              ngbDatepicker
              #dataCriacaDp="ngbDatepicker"
              formControlName="dataCriaca"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dataCriacaDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="alunowebApp.turma.observacoes" for="field_observacoes">Observacoes</label>
          <textarea
            class="form-control"
            name="observacoes"
            id="field_observacoes"
            data-cy="observacoes"
            formControlName="observacoes"
          ></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="alunowebApp.turma.curso" for="field_curso">Curso</label>
          <select class="form-control" id="field_curso" data-cy="curso" name="curso" formControlName="curso">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="cursoOption.id === editForm.get('curso')!.value?.id ? editForm.get('curso')!.value : cursoOption"
              *ngFor="let cursoOption of cursosSharedCollection; trackBy: trackCursoById"
            >
              {{ cursoOption.nomeCurso }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
